spring:
  datasource:
    url: jdbc:h2:file:./h2/devdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: always

  output:
    ansi:
      enabled=always:

  messages:
    encoding: UTF-8